/* universal  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* tag selector */

header{
    width: 100%;
    height: 60px;
    background-color: rgba(96, 66, 124, 0.871);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
}
li{
   margin: 10px;
   padding: 10px 5px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
.selectors{
    width: 10rem;
    height: 10rem;
    background-color: blueviolet;
    margin:10px;
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.selection{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content:center; /*width angle*/
    align-items: center; /*height angle*/
    text-align: center;
}
.title{
    font-weight: bolder;
    color: white;  
}
.pra{
   font-style: italic;
}

#footer{
  text-align: center;
  background-color:  rgba(96, 66, 124, 0.871);
 height: 50px;
 padding: 15px;
}